name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
    - name: Sanity checks
      run: |
        pre-commit run --all
    - name: Unit tests
      run: |
        python setup.py install
        python -m pytest
    - uses: opsgang/ga-setup-minikube@v0.1.1
      with:
          minikube-version: 1.11.0
          k8s-version: 1.18.3
    - name: Integration tests
      run: |
        minikube config set vm-driver docker
        minikube config set kubernetes-version 1.18.3
        minikube start
        minikube update-context
        kubectl cluster-info
        kubectl get pods -n kube-system
        kubectl create ns argo
        kubectl apply -n argo -f manifests/quick-start-minimal-argo-v2.10.0.yaml
        python -m integration_tests.dag_example
        kubectl -n argo get wf
