name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt -r requirements-dev.txt
        sudo apt-get update && sudo apt-get install -y protobuf-compiler
    - name: Sanity checks
      run: |
        pre-commit run --all
    - name: Unit tests
      run: |
        python setup.py proto
        python setup.py install
        python -m pytest
    - uses: opsgang/ga-setup-minikube@v0.1.1
      with:
          minikube-version: 1.11.0
          k8s-version: 1.18.3
    - name: Integration tests
      run: |
        minikube config set vm-driver docker
        minikube config set kubernetes-version 1.18.3
        minikube start

        kubectl create ns argo
        kubectl create sa default -n argo
        kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo/v2.12.0-rc1/manifests/quick-start-minimal.yaml
        kubectl wait -n argo --for=condition=Ready pods --all --timeout=300s

        kubectl apply -n argo -f manifests/mpi-operator.yaml

        scripts/integration_tests.sh
